<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* NOTICE OF LICENSE
*
* Magento extension which extracts a product feed from Magento, imports the feed into Fruugo and uses the Fruugo Order API to export all Fruugo orders into Magento.
*
* Copyright (C) 2015  Fruugo.com Ltd
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with this program.
* If not, see <http://www.gnu.org/licenses/>.
*/
-->
<config>
    <tabs>
        <integration translate="label" module="integration">
            <label>Fruugo Integration</label>
            <sort_order>100</sort_order>
        </integration>
    </tabs>
    <sections>
      <payment>
            <groups>
                <fruugopayment translate="label">
                    <label>Fruugo Payment Method</label>
                    <sort_order>100</sort_order>
                    <show_in_default>0</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </title>
                    </fields>
                </fruugopayment>
            </groups>
        </payment>

        <integration_options translate="label" module="integration">
            <label>Integration Options</label>
            <tab>integration</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <expanded>1</expanded>
            <groups>
                <products_options translate="label" module="integration">
                    <label>Products XML Feed Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <export_frequency translate="label">
                            <label>Frequency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Fruugo_Integration_Model_Adminhtml_System_Config_Source_Hour</source_model>
                            <backend_model>Fruugo_Integration_Model_Adminhtml_System_Config_Backend_ProductCron</backend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Set intervals of products xml feed generation</comment>
                        </export_frequency>
                        <descrption_type translate="label">
                            <label>Description Type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Fruugo_Integration_Model_Adminhtml_System_Config_Source_ProductDescriptionType</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Choose description and/or short description to be used for Fruugo product description</comment>
                        </descrption_type>
                        <refresh_countries translate="label">
                            <label>Refresh Fruugo Countries</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>integration/refreshcountriesbutton</frontend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Refresh countries mulitple select list to restrict product display on Fruugo</comment>
                        </refresh_countries>
                        <language_store translate="label">
                            <label>Langage Store Mapping</label>
                            <frontend_model>Fruugo_Integration_Block_Languagestoremapping</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Choose a default store for a language to export product description.</comment>
                        </language_store>
                    </fields>
                </products_options>
                <orders_options translate="label" module="integration">
                    <label>Orders Api Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <username translate="label">
                            <label>Username</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Fruugo orders API http authentication username</comment>
                        </username>
                        <password translate="label">
                            <label>Password</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Fruugo orders API http authentication password</comment>
                        </password>
                        <fetch_frequency translate="label">
                            <label>Frequency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Fruugo_Integration_Model_Adminhtml_System_Config_Source_Hour</source_model>
                            <backend_model>Fruugo_Integration_Model_Adminhtml_System_Config_Backend_OrderCron</backend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Set intervals of fetching orders from Fruugo</comment>
                        </fetch_frequency>
                        <dev_mode translate="label">
                            <label>Enable Development Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Enable development mode for testing</comment>
                        </dev_mode>
                        <order_api_url translate="label">
                            <label>Fruugo orders API URL for testing</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <dev_mode><value>1</value></dev_mode>
                            </depends>
                            <comment>Fruugo Orders Api for testing</comment>
                        </order_api_url>
                        <orders_endpoint_last_checked translate="label">
                            <frontend_type>hidden</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </orders_endpoint_last_checked>
                    </fields>
                </orders_options>
            </groups>
        </integration_options>
    </sections>
</config>
